extends ../layout

block content
  .container
    .row
      .col-md-9
        h2= employee.name

        .panel.panel-default
          .panel-heading Resume
          .panel-body !{resume.content}
      .col-md-3
        ul.list-group
          each comment in comments
            li.list-group-item
              h4.list-group-item-heading= comment.id
              p.list-group-item-text= comment.content

    #like-modal.modal.fadeid(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        form.modal-content(action="/employees/#{employee.id}/like", method="post")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4#myModalLabel.modal-title Some comment
          .modal-body
            if !auth
              .form-group
                label(for="username") Username
                input.form-control(type="text", name="username", id="username", placeholder="Username", required="true")
              .form-group
                label(for="password") Password
                input.form-control(type="password", name="password", id="password", placeholder="password", required="true")
            .form-group
              label(for="content") Content
              textarea.form-control(rows="5", name="content", id="content", placeholder="content", required="true")
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            input.btn.btn-primary(type="submit", value="Submit")

block nav-content
  a.btn.btn-success.navbar-btn.pull-right(data-toggle="modal", data-target="#like-modal") Like